@page "/"

<h1>Invoices</h1>
<PageTitle>Invoices</PageTitle>
<AuthorizeView>
    <Authorized>
        <InvoicesComponent/>
    </Authorized>
    <NotAuthorized>
        Please log in to see your invoices.
    </NotAuthorized>
</AuthorizeView>
